<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >
 
<suite name="LinkedinTestSuit" verbose="1" >

<listeners>
		<listener class-name="com.qa.SalesForce.ExtendReport.ExtentReporterNG" />
	</listeners>
  
  <test name="LinkedinTest"   >
    <classes>
      <class name="com.qa.SalesForce.Test.HomePageTest" />
      <class name="com.qa.SalesForce.Test.LoginPageTest" />
      <class name="com.qa.SalesForce.Test.MessagingPageTest" />
      <class name="com.qa.SalesForce.Test.MyNetWorkPageTest" />
   </classes>
 </test>
</suite>
